#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-title-back, .flip-card-back-close {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 0rem;
  margin-top: 1rem;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}


#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.5rem;
}

.experience-content {
  color: rgb(85, 85, 85);
  font-weight: 200;
  font-size: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1project-title-backrem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
}

.experience-content ul{
  list-style-type: circle;
  padding: 0;
}



.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}


.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}


.about-containers{
  max-height: 575px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

@media (max-width: 800px) {
  .about-containers {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items in column layout */
  }

  .details-container {
    min-height: auto; /* Adjust as needed */
    margin-bottom: 1rem; /* Add some spacing between project containers */
  }

  .flip-card-back {
    text-align: left; 
    position: absolute;
    top: 0;
    left: 0; 
  }
}


.about-pic {
  border-radius: 2rem;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}
.btn-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front{
  text-align: center;
  /* position: absolute; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0; /* Add this line */
  left: 0; /* Add this line */
}


.flip-card-back {
  position: absolute;
  border-radius: 4rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0.25; /* Add this line */
  left: 0.25; /* Add this line */
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
  top: 0; /* Add this line */
  left: 0; /* Add this line */
}
.flip-card-back-close {
  position: absolute;
  top: 0.5rem;
  right:1rem;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  border: none;
  background-color: transparent;
}


