/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /* --hue-color: 142; Green */
  /* --hue-color: 250;  */
  --hue-color: 180;
  /* --hue-color: 340;  */
  /* --hue-color: 67;  */

  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  /* --first-color: #4070f4; */
  /* --second-color: #0e2431; */
}

/*===== Colors =====*/

/*===== Fuente y tipografia =====*/
:root {
  --body-font: "Poppins";
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --font-medium: 500;
  --font-semi-bold: 600;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}



/*===== Margenes =====*/
:root {
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ================================================REUSABLE CSS CLASESS============================================= */

.section {
  padding-top: 4vh;
  height: 160vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section__title {
  font-size: 2.25rem;
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* ================================================Layout============================================= */

.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mg-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/* ================================================NAV============================================= */
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: var(--mb-1);

}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover {
  color: var(--first-color-alt);
}

/* Show Menu */
.show-menu {
  bottom: 0;
  transition-delay: 0.1s;
}

/* Active link on menu */
.active-link {
  color: var(--first-color);
}

.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/* ================================================  HOME  ============================================= */
.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

.home__social-icon:hover {
  color: var(--first-color-alt);
}

.home__blob {
  width: 200px;
  fill: var(--first-color);
}

.home__blob-img {
  width: 190px;
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--big-font-size);
}

.home__subtitle {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}

.home__description {
  margin-bottom: var(--mb-2);
}

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}

.home__scroll-button:hover {
  transform: translateY(0.25rem);
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
  font-size: 1.25rem;
}

/* ================================================  BUTTONS  ============================================= */

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button-row {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  align-items: center;
  flex-wrap: wrap;
}

.button {
  display: inline-block;
  background-color: var(--first-color); /* Add your color */
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  margin: 0.5rem; /* Adjust as needed */
}

.button--flex {
  display: flex;
  align-items: center;
}

.button__icon {
  margin-left: 0.5rem; /* Adjust as needed */
}

@media screen and (max-width: 767px) {
  .button-row {
    justify-content: center;
  }

  .button {
    width: 100%; /* Make buttons full-width on small screens */
  }
}


/* ================================================  About  ============================================= */
/* ================================================ About ============================================= */
.about__img {
  width: 100%; /* Adjust as needed */
  max-width: 200px; /* Set a maximum width if necessary */
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.about__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.about__info {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line on smaller screens */
  justify-content: center;
  margin-bottom: var(--mb-2-5);
}

.about__info > div {
  text-align: center;
  margin-bottom: 1rem; /* Adjust as needed */
}

.about__buttons {
  display: flex;
  justify-content: center;
  margin-top: var(--mb-3); /* Adjust as needed */
}

.about__info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about__info-name {
  font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name {
  display: block;
}

.section {
  padding-top: 4vh;
  height: auto; /* Adjust height as needed */
  margin: 0 1rem; /* Adjust margins for smaller screens */
  box-sizing: border-box;
  min-height: fit-content;
}

.section__title {
  font-size: 2rem; /* Adjust as needed */
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-2);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .about__info {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .about__img {
    max-width: 100%;
  }
}


/* ================================================  Qualification  ============================================= */

.qualification__tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--h3-font-size);
}

.qualification__button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification__button:hover {
  color: var(--first-color);
}

.qualification__icon {
  font-size: 1.2rem;
  margin-right: var(--mb-0-25);
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification__calendar {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: block;
}

.qualification__content {
  margin-top: var(--mb-1-5);
}

/* ================================================  Skills  ============================================= */

.skills__container {
  display: grid;
  grid-gap: 16px;
  padding: 16px;
  max-width: 1024px;
}

@media screen and (min-width: 600px) {
  .skills__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .skills__container {
    grid-template-columns: 1fr;
  }
}

.skills__container .set {
  padding: 24px;
  border-radius: 16px;
  cursor: pointer;
}

.skills__container .set:hover {
  box-shadow: 0px 12px 16px var(--first-color);
}

.set span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 48px;
  background-color: var(--first-color);
  border-radius: 35%;
  color: white;
  margin-inline: auto;
}

.set > header {
  padding-block: 24px;
  font-size: 24px;
  color: var(--text-color);
  text-align: center;
  text-transform: capitalize;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.skills__icon {
  margin-right: var(--mb-0-75);
}

.skills__tile {
  font-size: var(--h3-font-size);
}

.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills__list .list {
  padding-block: 8px;
  display: grid;
  grid-template-columns: 1fr 26px;
  color: var(--text-color-light);
  text-transform: uppercase;
}

.set:hover .list {
  color: var(--text-color);
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}
/* ================================================  Portfolio  ============================================= */

.portfolio__container {
  padding-left: 6rem;
  padding-right: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.project-card{
  border-radius: 1rem;
  background: white;
  border-radius: 3rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-top: 5px solid hsl(180, 62%, 55%);
  border-color: rgb(180, 62%, 55%);
  text-align: center;
  /* height: 500px; */
  padding: 0.5rem;
  margin: 1rem;
}

.project-description-content{
  font-family: var(--body-font);
}



@media screen and (max-width: 600px) {
  .portfolio__container{ 
    padding-left: 1rem;
    padding-right: 1rem;
  }


} 

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

 .container-tabs {
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .tabs {
	 display: flex;
	 position: relative;
	 background-color: #fff;
	 box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
	 padding: 0.35rem;
	 border-radius: 99px;
}
 .tabs * {
	 z-index: 2;
}
 input[type="radio"] {
	 display: none;
}
 .tab {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 34px;
	 width: 300px;
	 font-size: 1.25rem;
	 font-weight: 500;
	 border-radius: 99px;
	 cursor: pointer;
	 transition: color 0.15s ease-in;
}

.glider {
  position: absolute;
  display: flex;
  height: 34px;
  width: 300px;
  background-color: var(--first-color);
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

 .notification {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 width: 1.5rem;
	 height: 1.5rem;
	 margin-left: 0.75rem;
	 border-radius: 50%;
	 background-color: var(--first-color);
	 transition: 0.15s ease-in;
}


 input[type="radio"]:checked + label {
	 color: #fff;
}
 input[type="radio"]:checked + label > .notification {
	 background-color: var(--text-color-light);
	 color: #fff;
}
 input[id="radio-1"]:checked ~ .glider {
	 transform: translateX(0);
}
 input[id="radio-2"]:checked ~ .glider {
	 transform: translateX(100%);
}
 input[id="radio-3"]:checked ~ .glider {
	 transform: translateX(200%);
}

 @media (max-width: 700px) {
	 .tabs {
		 transform: scale(0.6);
	}
}
 


/* ================================================  Contact Me  ============================================= */

.contact__container {
  row-gap: 3rem;
}

.contact__information {
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact__icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle {
  font-size: var(--small-font-size);
  color: --text-color-light;
}

.contact__content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
}

.contact__label {
  font-size: var(--smaller-font-size);
}

.contact__input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

/* ============================================= Footer ============================================ */

.footer {
  padding-top: 2rem;
}

.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover {
  color: var(--first-color-lighter);
}

.footer__social {
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer__social:hover {
  color: var(--first-color-lighter);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: white;
  margin-top: var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: #fff;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

/* ============================ Media Queries ============================ */

/* For small devices */

@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav__list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }

  .home__blob {
    width: 180px;
  }

  .skills__title {
    font-size: var(--normal-font-size);
  }

  .qualification__data {
    gap: 0.5rem;
  }

  .project__img {
    width: 200px;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }

  .home__data {
    grid-column: initial;
  }

  .home__img {
    order: 1;
    justify-self: center;
  }

  /* .portfolio__content */
  .about__container{
    grid-template-columns: repeat(1, 1fr);
  }

  .skills__container,
  .contact__container,
  .footer__container
  {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio__container 
  {
    margin-top: 2rem;
  }

  .qualification__sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}

/* For large devices */
@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .section__subtitle {
    margin-bottom:1rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footer__container {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 2rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .change-theme {
    margin: 0;
  }

  .home__container {
    row-gap: 5rem;
  }

  .home__content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .home__blob {
    width: 270px;
  }

  .home__scroll {
    display: block;
  }

  .home__scroll-button {
    margin-left: 3rem;
  }

  .about__container {
    column-gap: 5rem;
  }

  .about__img {
    width: 350px;
  }

  .about__description {
    text-align: initial;
  }

  .about__info {
    justify-content: space-between;
  }

  .about__buttons {
    justify-content: initial;
  }

  .qualification__tabs {
    justify-content: space-evenly;
  }
}

/* Typewriter effec */
.home__title{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #57e0e0; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #57e0e0; }
}

.message-container{
  display : none
}

